.qty_change {
    position: relative;
}

.qty_change .decreaseQty {
    border-radius: 4px 0 0 4px;
    border: 1px solid #c2c2c2;
    padding: 7px 0;
    position: absolute;
    left: 63px;
    top: 0;
    width: 25px;
}

.box-tocart .qty_change input.input-text.qty {
    margin-left: 24px;
    width: 40px;
    padding: 0;
}