<button data-bind="attr: {title: $t('Decrease')}, click: decreaseQty">-</button>
<input  data-bind="attr:{value: qty, title: $t('Qty')}, event:{change: qtyChanged}"
        type="number"
       class="input-text qty"
       name="qty"
       id="qty"
       maxlength="12"
       data-validate="{'requered-number':true, digits:true}"
>
<button data-bind="attr: {title: $t('Increase')}, click: increaseQty">+</button>